/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it combine with normalize.css
*/
ol, ul {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}


body {
  font-size: 165%;
  --font: Mada;
  font-family: var(--font), serif;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

main {
  max-width: 45em;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
  text-align: center;
}

p {
  line-height: 1.5;
}

.name {
  font-size: 2em;
  margin-top: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

ruby {
  font-weight: 900;
  padding: 0 1ch;
}

ruby + ruby {
  border-left: 0.05em solid;
}

rp, rt {
  font-size: 0.5em;
  text-align: center;
  font-weight: 600;
}

p + *, ul + * {
  margin-top: 1em;
}

ul {
  text-align: left;
  list-style-position: inside;
  columns: 2;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

li + li {
  margin-top: 0.25em;
}

.incorrect {
  text-decoration: line-through;
  text-decoration-color: rgba(0, 0, 0, 0.35);
}

q {
  quotes: "‘" "’";
}

strong {
  font-weight: 700;
}

footer {
  font-size: 0.7em;
  text-align: right;
  margin-top: auto;
  max-width: none;
}

a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

:visited {
  color: #800080;
}

a:hover, a:focus {
  text-decoration-thickness: 0.25em;
}

a:focus {
  outline: 1px solid;
}

a:active {
  color: red;
}

/* https://google-webfonts-helper.herokuapp.com/fonts/mada?subsets=latin */

/* mada-regular - latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/mada-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/mada-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mada-600 - latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('/assets/fonts/mada-v11-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/mada-v11-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mada-700 - latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/assets/fonts/mada-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/mada-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mada-900 - latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('/assets/fonts/mada-v11-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/mada-v11-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
