/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it combine with normalize.css
*/
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

body {
  font-size: 110%;
  --font: "Open Sans";
  font-family: var(--font), sans-serif;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

@media (min-width: 35em) {
  body {
    font-size: 165%;
  }
}

main {
  max-width: min(100%, 45em);
  margin: 0 auto 2em;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
  text-align: center;
}

p {
  line-height: 1.5;
}

.name {
  font-size: 3.5rem;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: [annotation] auto [name] auto;
  align-items: stretch;
  text-align: right;
  text-align: center;
  margin: 0.5em auto 0;
  max-width: min(max-content, 100%);
}

.name__name,
.name__annotation {
  padding: 0 2rem;
}

.name__annotation {
  font-size: 0.5em;
  grid-row: annotation / name;
  font-weight: 600;
  padding-top: 0.5rem;
  line-height: 1;
}

.name__name {
  grid-row-start: name;
  font-weight: 900;
  padding-bottom: 0.1rem;
  line-height: 1.2;
}

.name__name--given,
.name__annotation--given {
}

.name__name--family,
.name__annotation--family {
  /* text-align: left; */
  border-left: 0.175rem solid;
}

p + *,
ul + * {
  margin-top: 1em;
}

ul {
  text-align: left;
  list-style-position: inside;
  columns: 2;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

li + li {
  margin-top: 0.25em;
}

.incorrect {
  text-decoration: line-through;
  text-decoration-color: rgba(0, 0, 0, 0.35);
  text-align: center;
}

q {
  quotes: "‘" "’";
}

strong {
  font-weight: 700;
}

footer {
  font-size: 0.7em;
  text-align: right;
  margin-top: auto;
  max-width: none;
  border-top: 0.1em solid;
  padding-top: 1em;
}

a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

:visited {
  color: #800080;
}

a:hover,
a:focus {
  text-decoration-thickness: 0.25em;
}

a:focus {
  outline: 1px solid;
}

a:active {
  color: red;
}

/* https://gwfh.mranftl.com/fonts/open-sans?subsets=latin */

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v43-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v43-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v43-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v43-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
